.servicios-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 2.1rem;
    font-weight: 400;
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    width: 100%;
}

.servicios-container {
    max-width: 1000px;
    margin: 0 auto;
}

.servicios-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 2.4rem;
}

.servicios-card img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.servicios-card h4 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
    color: var(--text-color);
}

.servicios-card p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--text-color);
    text-align: center;
    padding: 0 2rem;
}

@media (min-width: 720px) {
    .servicios-card {
        flex-direction: row;
        height: 300px;
    }

    .servicios-card img {
        width: 300px;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .section-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .servicios-card h4 {
        text-align: left;
        padding: 1rem 1.5rem 0;
    }

    .servicios-card p {
        text-align: left;
        padding: 0 1.5rem 2em;
        width: 85%;
    }

    /* Estilos específicos para las tarjetas derecha */
    .servicios-card.right {
        flex-direction: row-reverse;
    }

    .servicios-card.right .section-info {
        align-items: flex-end;
    }

    .servicios-card.right h4 {
        text-align: right;
        padding: 1rem 1.5rem 0;
    }

    .servicios-card.right p {
        text-align: right;
        margin-left: auto;
    }

    .servicios-card:hover {
        transform: translateY(-5px);
        box-shadow: var(--shadow-hover);
    }
}